################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NCS.DSS.NotificationsListener/obj/Debug/net461/NCS.DSS.NotificationsListener.csprojAssemblyReference.cache
