################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NCS.DSS.NotificationsListener/bin
/NCS.DSS.NotificationsListener/obj